# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
.vscode

# gradle
build
.gradle

# other
eclipse
run
crl_ponder/
temp_*/
temp_*.log
hs_err_pid*.log
*.log
AGENTS.md
